body {
    min-height: 100vh;
    background: #444;
    color: #eaeaee;
    font-family: serif;
}

.no-select {
    user-select: none;
}

/* big screens (desktops) */
body {
    margin: 0 auto;
    width: 50%;
}

/* medium screens (laptops) */
@media (max-width: 1024px) {
    body {
        margin: 0 auto;
        width: 70%;
    }
}

/* smaller screens (tablets) */
@media (max-width: 768px) {
    body {
        margin: 0 auto;
        width: 85%;
    }
}

@media (max-width: 500px) {
    body {
        margin: 0 10px;
        width: calc(100% - 20px);
    }
}

.logo {
    max-width: 50%;
    width: 100px;
    display: block;
    margin: 0 auto;
}

ul,
p {
    margin-bottom: 0;
}

ul {
    margin-top: 0.5em;
}

a {
    color: #10caca;
    text-decoration: none;
}

a:visited {
    color: #e95ee9;
}

h1 {
    margin: 0;
    padding: 15px 0;
}

h2 {
    padding-top: 20px;
    border-top: solid 2px gainsboro;
}

h2:first-of-type {
    border-top: none;
}

pre {
    color: #aaa;
    page-break-inside: avoid;
    font-family: monospace;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow-y: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

img {
    max-width: 100%;
    display: block;
    margin: 25px auto;
    box-shadow: #222 0 0 15px;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

nav > .margin {
    height: 30px;
}

nav > input[type="checkbox"] {
    display: none;
}

nav > input[type="checkbox"] + label {
    display: block;
    padding: 0 10px;
    min-width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 30px;
    font-family: monospace;
}
nav > input[type="checkbox"] + label:hover {
    background: rgba(255, 255, 255, 0.2);
}
nav > input[type="checkbox"] + label > .close {
    display: none;
}
nav > input[type="checkbox"]:checked + label > .close {
    display: initial;
}
nav > input[type="checkbox"]:checked + label > .open {
    display: none;
}

nav > input[type="checkbox"]:checked + label {
    background: rgba(180, 40, 230, 0.8);
}

nav > input[type="checkbox"] + label + ul {
    display: none;
}
nav > input[type="checkbox"]:checked + label + ul {
    display: block;
}

nav > ul {
    height: calc(100vh - 38px);
    overflow-y: auto;
    margin-right: 25px;
}
nav > ul > li {
    margin-top: 20px;
}

@media (max-width: 500px) {
    nav > ul {
        width: calc(100vw - 65px);
    }
}
